@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root{
    --background:#ebebeb;
    --color:black;
    --width:100vw;
    --navbar-font:'Arvo', serif;;
    --background-2:#FDCD0B;
}
body{ 
    background-color: var(--background) !important;
    color: var(--color);
}